head, body, html {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

.bg-light {
    background-color: white !important;
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #b8d8be;
    color: #ccccff;
}

.jumbotron {
    min-height: 50%;
    padding-top: 3%;
    color: black;
    text-align: center;
    background-color: #d2e7d6;
    background-color: #dedefc;
    padding-bottom: 1.5%;
}

.lead {
    padding-bottom: 1.5%;
}

.me {
    border-radius: 50%;
    width: 35%;
    min-width: 150px;
}

.container {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    h2 {
        text-align: center;
    }

  }

h1 {
    text-align: center;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.25rem;
}

h2#subheader {
    padding-bottom: 3%;
}

.container#projects {
    margin: auto;
    width: 100%;
    padding-bottom: 5%;
}

.card-deck {
    padding-bottom: 3%;
}

.card {
    background-color: white;
    margin: 1%;
    border-radius: 10px;
    border: 2.5px solid #d2e7d6;
    border: 2.5px solid #dedefc;
    opacity: 1;
    width: 100%;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    transition: transform 0.4s ease;
}

.card:hover {
    transform: scale(1.04);
}

.card-img-top {
    border-radius: 10px;
    object-fit: cover;
}

.btn-custom {
    color: black;
    border-color: #d2e7d6;
    border-color: #dedefc;
    border-radius: 10px;
}

.btn-custom:hover {
    background-color: #d2e7d6;
    background-color: #dedefc;
}
