.dark {
    color: white;
}

.light {
    color: #1a202c;
}

ul, h1, p {
    margin: 0;
  }
  
  hr {
    width: 100%;
    margin: 0;
  }
  
  .container, .vert-container {
    display: flex;
    gap: 25px;
  }
  
  .container {
    flex-wrap: wrap;
  }
  
  .vert-container {
    flex-direction: column;
  }
  
  .title-and-text {
    gap: 0px;
  }
  
  .f1 {
    flex: 1;
  }
  
  .items-centered {
    align-items: center;
  }
  
  .content-centered {
    justify-content: center;
  }
  
  .text-centered {
    text-align: center;
  }
  
  .my-pic {
    width: 300px;
    border-radius: 5%;
  }
  
  .intro-text {
    font-size: 20px;
    max-width: 500px;
  }
  
  .intro-icon {
    height: 75px;
    transition: all 0.1s;
  }
  
  .intro-icon:hover {
    transform: scale(1.1);
  }
  
  .intern-block {
    gap: 0;
    /* transition: all 0.1s; */
    border-radius: 5px;
    border-style: solid; 
    border-width: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .intern-logo {
    height: 150px;
    width: 150px;
  }
  
  .intern-title {
    font-weight: bold;
    font-size: 130%;
    margin-top: 20px;
  }
  
  .intern-dates {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 20px;
  }